{% extends "base.html" %}

{% block navbar %}
{% endblock %}


{% block content %}

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <form class="signup mb-3 mt-md-4" id="signup_form" method="post"
                            action="{% url 'account_signup' %}">
                            <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                            <p class="mb-5">Already have an account? Then please <a href="{{ login_url }}">sign
                                    in</a>.
                            </p>
                            <div class="mb-3">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                            </div>
                            <div class="mb-3">
                                <input type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                                {% endif %}
                            </div>
                            <div class="d-grid">
                                <button type="submit">Sign Up &raquo;</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}