{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/ed160d90da.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Exo:wght@300;400;500&family=Overpass:wght@400;800&family=Roboto:ital,wght@0,100;0,400;1,900&family=Titan+One&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>CRM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Main navigation bar -->
    <nav>
        {% block navbar %}
        <div class="main-nav" style="background-color: #F6FFDE;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'new-client' %}">New Client</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'display-call' %}">Call list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'display-clients' %}">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="{% url 'account_logout' %} ">Logout</a>

                            </li>
                        </ul>

                        {% include 'search-nav.html' %}

                    </div>
            </nav>
        </div>
        <!-- End Main navigation bar -->
        {% endblock %}
    </nav>

    <main class="content">
        {% block content %}
        <!-- Content -->

        {% endblock %}

    </main>

    <footer class="foot-bg">
        <a href="https://linkedin.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
            <i class="fa-brands fa-linkedin fa-lg footer-i"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
            <i class="fa-brands fa-instagram fa-lg footer-i"></i>
        </a>
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook - Opens in new tab">
            <i class="fa-brands fa-square-facebook fa-lg footer-i"></i>
        </a>
        <a href="https://github.com/" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
            <i class="fa-brands fa-square-github fa-lg footer-i"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter - Opens in new tab">
            <i class="fa-brands fa-square-twitter fa-lg footer-i"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="YouTube - Opens in new tab">
            <i class="fa-brands fa-youtube fa-lg footer-i"></i>
        </a>
    </footer>
</body>

</html>