{% extends 'base.html' %}

{% if user.is_authenticated %}
<p>Authenticated user</p>

{% else %}

<p>PLease login</p>
{% url 'account_login' %}
{% endif %}

<body>
    {% block content %}
    <div class="container-fluid content-1">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% load crispy_forms_tags %}
                <h3>Call log</h3>
                <br>
                <form method="post" class="">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>