{% extends 'base.html' %}

<body>

    {% block content %}

    <!-- Cleint details -->

    <h2 class="clent_name">{{ details.first_name }} {% if details.middle_name %} {{details.middle_name }} {% else %}
        {% endif %} {{ details.last_name }} App: {{ note.title }}</h2>
    <hr>


    <div class="parent-container d-flex">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="accordion" id="accordionPanelsStayOpen" style="width: 18rem;">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    <h5>Contact Details</h5>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Name:</strong> {{ details.first_name }}</li>
                                        <li class="list-group-item"><strong>Middle Name:</strong>
                                            {% if details.middle_name %}
                                            {{ details.middle_name }}
                                            {% else %}
                                            {% endif %}</li>
                                        <li class="list-group-item"><strong>Surname:</strong> {{ details.last_name }}
                                        </li>
                                        <li class="list-group-item"><strong>Email:</strong> {{ details.email_address }}
                                        </li>
                                        <li class="list-group-item"><strong>Phone:</strong> {{ details.phone_number}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                    <h5>Address Details</h5>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Adress:</strong> {{ details.address }}</li>
                                        <li class="list-group-item"><strong>Adress:</strong>
                                            {% if details.address_line_2 %}
                                            {{ details.address_line_2 }}
                                            {% else %}
                                            {% endif %}</li>
                                        <li class="list-group-item"><strong>City:</strong> {{ details.city }}</li>
                                        <li class="list-group-item"><strong>Eirode:</strong> {{ details.eircode }}</li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                    <h5>Details</h5>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <p>Client since :<i>{{ details.created_on }}</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% include 'note.html' %}

            <a href="{% url 'edit-note' client.id %}"><button>Add note</button></a>

        </div>

        <div class="container">
            <div class="col-6">
                <h4>Todo</h4>
                <ul>
                    <li>one</li>
                    <li>two</li>
                    <li>three</li>
                </ul>

            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <button>
                    One
                </button>
            </div>
        </div>
    </div>


    {% endblock %}
</body>