{% extends "base.html" %}

{% load static %}

{% if user.is_authenticated %}
<p>Authenticated user</p>
{% else %}
<p>PLease login</p>
{% url 'account_login' %}
{% endif %}

{% block content %}
<main>
    <div class="container-fluid main-dash">
        <div class="row card-wrapper">
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card card-shadow">
                    <img src="{% static 'images/phone.png' %}" class="card-img-top" alt="People talking on phones">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa-solid fa-phone-volume"></i>
                            Log call :
                        </h5>
                        <p class="card-text">Click below to log calls</p>
                        <a href="{% url 'call-log-form' %}" class="btn btn-primary d-flex dash-btn">LOG CALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card card-shadow">
                    <img src="{% static 'images/todo.png' %}" class="card-img-top" alt="Man creating a list">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-list-check"></i> Add Task :</h5>
                        <p class="card-text">Add task to todo list</p>
                        <a href="{% url 'task-list' %}" class="btn btn-primary d-flex dash-btn">ADD TASK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card card-shadow">
                    <img src="{% static 'images/client.png' %}" class="card-img-top" alt="a group of clients">
            
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-person"></i> New Client :</h5>
                        <p class="card-text">Click to add new Client.</p>
                        <a href="{% url 'new-client' %}" class="btn btn-primary d-flex dash-btn">ADD CLIENT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid main-dash">
        <div class="row card-wrapper">
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h5><i class="fa-solid fa-phone-volume"></i> Call log :</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'display-call' %}"
                                class="btn btn-primary d-flex dash-btn">Call Log</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h5><i class="fa-solid fa-list-check"></i> Task List :</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'task' %}" class="btn btn-primary d-flex dash-btn">Tasks</a>
                        </li>
                    </ul>
                </div>
                </div>
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h5><i class="fa-solid fa-magnifying-glass"></i> Search for a client :</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% include 'search-nav.html' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}