{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block navbar %}
{% endblock %}


<nav class="navbar navbar-expand-lg bg-body-tertiary landing-nav main-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'account_login' %}">ClientFlow</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">Logout</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %} ">Dashboard</a>

                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>


    <div class="card-body text-center hero" style="">
        <div class=" row align-self-center">
            <div class="col">
                <h1 class="landing-header">ClientFlow</h1>
                <h3 class="landing-header">Client Management Made Easy for Small Businesses</h3>
            </div>
        </div>
    </div>


{% endblock %}