{% extends "base.html" %}

{% block content %}

<main class="content-1">
    {% if messages %}
    {% for message in messages %}

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="#" class="rounded me-2" alt="">
            <strong class="me-auto">Success</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message|safe }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <h4>{{ client.first_name }} {% if client.middle_name %} {{client.middle_name }} {% else %}
        {% endif %} {{ client.last_name }}</h4>

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            {% for note in page_obj %}
            {% if note.client.id == client.id %}
            <h5 class="card-title">{{ note.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ note.created_on }}</h6>
            <p class="card-text">{{ note.content }}</p>
            <a class="card-link" href="{% url 'edit-note' note.pk %}"><button class="btn btn-success">Edit
                    Note</button></a>
            <a class="card-link" href="{% url 'delete-note' note.pk %}"><button
                    class="btn btn-danger">Delete</button></a>
            {% endif %}

            {% empty %}
            <p>No notes available.</p>
            {% endfor %}
        </div>

    </div>
    <div><a href="{% url 'details' client.id %}"><button class="btn btn-primary">Back</button></a>
        <a href="{% url 'create-note' client.id %}"><button class="btn btn-warning">Add
                note</button></a>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
            <a class="pagination-links" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="pagination-links" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
    
        </span>
    </div>
    </div>
    <br>
</main>
    
    

{% endblock content %}