{% extends "base.html" %}

{% block content %}

<div class="content-1">
    <h4>Task List</h4>
    <br>
    <a href="{% url 'task-list'  %}"><button class="btn btn-primary" style="margin-bottom: 5px;">Add Task</button></a>

    <table class="table table-bordered border-primary" style="width: 35rem;">
        <thead>
            <tr class="table-primary">
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Complete</th>

            </tr>
        </thead>
        <tbody>
            {% for task in page_obj %}
            <tr class="table-success">
                <td>{{ task.created_on }}</td>
                <td>{{ task.task }}</td>
                <td><a href="{% url 'task-update' task.id %}"><button class="btn btn-success">Update</button></a>
                    <a href="{% url 'delete-task' task.id %}"><button class="btn btn-danger">Delete</button></a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a class="pagination-links" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="pagination-links" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        </span>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="#" class="rounded me-2" alt="">
            <strong class="me-auto">Success</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message|safe }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}